## Iowa Liquor Sales Project - Data Exploration

In [1]:
import pandas as pd
import os

In [2]:
pwd

'/Users/Monika/GitHub/Iowa Liquor Sales/notebooks'

In [3]:
os.chdir('../')

In [4]:
pwd

'/Users/Monika/GitHub/Iowa Liquor Sales'

In [6]:
df = pd.read_csv('data/Iowa_Liquor_Sales.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df.shape

(19445831, 24)

#### These are all the Hy_vee stores in Iowa

In [8]:
Hy_vee = df[df['Store Name'].str.contains('Hy')==True]

#### Around 6.5 million records if we include just things purchased at Hy_vee stores

In [11]:
Hy_vee.shape

(6513547, 24)

Approximately 1/3 of all of the liquor sold in Iowa is sold at Hy_vee stores

In [19]:
(len(Hy_vee)/len(df))

0.3349585317284718

In [40]:
Hy_vee.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

Besides tax, what other discrepancy responsible for price difference between vendor name and state bottle cost?

In [69]:
Hy_vee[['Vendor Name', 'State Bottle Cost', 'State Bottle Retail']].head()

           Vendor Name  State Bottle Cost  State Bottle Retail
2    Sazerac Co., Inc.              29.72                44.58
17      Luxco-St Louis               6.06                 9.09
23  Heaven Hill Brands               5.78                 8.67
26     Diageo Americas               5.50                 8.25
27     Jim Beam Brands               1.76                 2.64

In [70]:
Hy_vee['Vendor Name'].value_counts()

Jim Beam Brands                     696440
Diageo Americas                     547455
DIAGEO AMERICAS                     483231
Luxco-St Louis                      357938
Heaven Hill Brands                  316881
                                     ...
DC Beverage LLC                          1
Veriano Fine Foods & Spirits Ltd         1
Black Sea Imports, Inc                   1
Stolller Warehouse                       1
Belmont Farms Of Va., Inc                1
Name: Vendor Name, Length: 392, dtype: int64

#### Why are bottles overwhelmingly sold in 12 packs? Does it have something to do with the vendor?

In [66]:
Hy_vee['Bottles Sold'].value_counts()

12     1814148
6      1439636
2       874105
3       681240
1       608878
        ...
494          1
519          1
95           1
94           1
223          1
Name: Bottles Sold, Length: 424, dtype: int64

Category names indicate type of alcohol

In [59]:
Hy_vee['Category Name'].value_counts()

VODKA 80 PROOF                     377351
American Vodkas                    375097
CANADIAN WHISKIES                  249823
Canadian Whiskies                  228539
Straight Bourbon Whiskies          223418
                                    ...
Holiday VAP                            12
Distilled Spirits Specialty            12
IMPORTED VODKA - CHERRY                 9
Temporary  & Specialty Packages         3
SCHNAPPS - IMPORTED                     3
Name: Category Name, Length: 131, dtype: int64

Within the most popular category, Vodka 80 proof, which is the most popular?

In [61]:
vodka_80_proof = Hy_vee[Hy_vee['Category Name'] == 'VODKA 80 PROOF']

Most popular vodka among the 80 Proof Vodkas

In [50]:
Hy_vee[Hy_vee['Category Name'] == 'VODKA 80 PROOF']['Item Description'].max()

'Woody Creek Signature Potato Vodka'

Most popular vodka among the American Vodkas

In [51]:
Hy_vee[Hy_vee['Category Name'] == 'American Vodkas']['Item Description'].max()

'Y-not Vodka'

#### Sales  by month

In [58]:
Hy_vee.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year,Month
2,S27600300027,08/31/2015,2560,Hy-Vee Food Store / Marion,3600 BUSINESS HWY 151 EAST,MARION,52302,NaN,57.0,Linn,...,1,3000,29.72,44.58,2,89.16,6.0,1.59,2015,8
17,S19153800051,05/23/2014,2582,Hy-Vee #2 Food Store / Mason City,551 S ILLINOIS AVE,MASON CITY,50401,POINT (-93.17114 43.14623),17.0,Cerro Gordo,...,12,750,6.06,9.09,12,109.08,9.0,2.38,2014,5
23,S24086400053,02/17/2015,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,POINT (-95.385111 40.761736),73.0,Page,...,12,750,5.78,8.67,12,104.04,9.0,2.38,2015,2
26,S16932400181,01/20/2014,2647,Hy-Vee #7 / Cedar Rapids,5050 EDGEWOOD RD,CEDAR RAPIDS,52411,POINT (-91.701581 42.030129),57.0,Linn,...,12,500,5.50,8.25,2,16.50,1.0,0.26,2014,1
27,S13902000148,08/14/2013,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,POINT (-90.548919 41.55678100000001),82.0,Scott,...,48,200,1.76,2.64,10,26.40,2.0,0.53,2013,8

In [56]:
Hy_vee['Year'] = pd.DatetimeIndex(Hy_vee['Date']).year

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
Hy_vee['Month'] = pd.DatetimeIndex(Hy_vee['Date']).month

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### This is the total number of Hy_vee stores in Iowa

In [9]:
Hy_vee['Store Name'].nunique()

203

Makes sense, as according to Hy_vee website, there are a total of ~240 Hy_vee stores throughout the midwest, with the majority in Iowa.

#### These are the top selling stores

In [10]:
Hy_vee['Store Name'].value_counts()

Hy-Vee #3 / BDI / Des Moines             167233
Hy-Vee Wine and Spirits / Iowa City      119490
Hy-Vee Food Store #1 / Mason City        102665
Hy-Vee Wine and Spirits / Bettendorf     101923
Hy-Vee Food Store / Cedar Falls          101038
                                          ...
Hy-Vee Fast and Fresh / Storm Lake           72
Hy-Vee Gas - Pleasant Hill                   71
Hy-Vee Fast & Fresh Express / Creston        43
Hy-Vee Fast & Fresh Express- Creston         34
Hy-Vee Gase #5018 / Ames                     21
Name: Store Name, Length: 203, dtype: int64

In [12]:
Hy_vee.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
2,S27600300027,08/31/2015,2560,Hy-Vee Food Store / Marion,3600 BUSINESS HWY 151 EAST,MARION,52302,NaN,57.0,Linn,...,64858,Fireball Cinnamon Whiskey Mini Dispenser,1,3000,29.72,44.58,2,89.16,6.0,1.59
17,S19153800051,05/23/2014,2582,Hy-Vee #2 Food Store / Mason City,551 S ILLINOIS AVE,MASON CITY,50401,POINT (-93.17114 43.14623),17.0,Cerro Gordo,...,51696,Stock 84 Brandy,12,750,6.06,9.09,12,109.08,9.0,2.38
23,S24086400053,02/17/2015,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,POINT (-95.385111 40.761736),73.0,Page,...,43025,Admiral Nelson Spiced Rum Traveler,12,750,5.78,8.67,12,104.04,9.0,2.38
26,S16932400181,01/20/2014,2647,Hy-Vee #7 / Cedar Rapids,5050 EDGEWOOD RD,CEDAR RAPIDS,52411,POINT (-91.701581 42.030129),57.0,Linn,...,43331,Captain Morgan Spiced Rum Mini,12,500,5.50,8.25,2,16.50,1.0,0.26
27,S13902000148,08/14/2013,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,POINT (-90.548919 41.55678100000001),82.0,Scott,...,24453,Kessler Blend Whiskey,48,200,1.76,2.64,10,26.40,2.0,0.53

In [22]:
Hy_vee['Item Description'].value_counts()

Hawkeye Vodka                        93455
Black Velvet                         87341
Fireball Cinnamon Whiskey            55930
Five O'clock Vodka                   52708
Jim Beam                             49709
                                     ...
99 Long Island Iced Tea Mini             1
Macallan Cask Strength Scotch DNO        1
Brugal Especial Extra Dry                1
Arrow Creme De Strawberry                1
Blumers Absinthe                         1
Name: Item Description, Length: 6979, dtype: int64

In [23]:
Hy_vee['Item Description'].str.contains('Vodka').sum()

1134459

In [27]:
Hy_vee['Item Description'].str.contains('Whiskey').sum()

301222

In [36]:
this = Hy_vee['Store Location'].isna().sum()

In [37]:
that = len(Hy_vee['Store Location'])

Almost 15% of Store locations are marked as missing.

In [38]:
this/that

0.14947907798930443

In [ ]:
Hy_vee[]

In [ ]:
df_test = df.sample(100000)

In [9]:
pwd

'/Users/Monika/GitHub/Iowa Liquor Sales'

In [10]:
df_test.to_csv('data/Iowa_Liquor_Subset.csv', index=False)